<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="redis-64" version="3.0.503" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.1.603" targetFramework="net452" />
</packages>